version: '3.8'

services:
  db:
    image: mysql:5.7
    container_name: contenedor_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: tareas_db
      MYSQL_USER: usuario
      MYSQL_PASSWORD: 12345
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: contenedor_backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - DB_HOST=db
      - DB_USER=usuario
      - DB_PASS=12345
      - DB_NAME=tareas_db
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: contenedor_frontend
    restart: always
    ports:
      - "4200:4200"
    depends_on:
      - backend

volumes:
  db_data:
